header {
    text-align: center;
}
/* THE DIV WITH THE JOKES AND JOKE BUTTON.*/
.main {

    background-color: #cc5464;
    margin: 0 auto;
    opacity: 0.8;
    padding: 20px;
    position: relative;
    width: 50%;
    height: 100%;
}

#joke--button {
    display: inherit;
    margin: 0 auto;

}

.jokelist {
    text-align: left;
}