html
    head
        script(src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous")
    body
        h2(id="signup--h2") Sign Up!
        ul
            li Passwords must include one increasing straight of at least three letters, like abc , cde , fgh , and so on, up to xyz. They cannot skip letters; acd doesn't count.
            li Passwords may not contain the letters i, O, or l, as these letters can be mistaken for other characters and are therefore confusing.
            li Passwords must contain at least two non-overlapping pairs of letters, like aa, bb, or cc.
            li Passwords cannot be longer than 32 characters.
            li Passwords can only contain lower case alphabetic characters.
        br
        form(id="signupForm" method="POST", action="/signup")
            h6(id="error") #{error}
            label Username:
                input(class="signup--input" id="username" type="text" name="username" placeholder="Username")
            br
            label Password:
                input(class="signup--input" id="password" type="password" name="password" placeholder="Password")
            br
            br
            button(id="signup--submit" type="submit", value= "Submit") Sign Up

script.
    $(document).ready(function() {
        $("#signupForm").submit(function(event) {
            var pass = $("#password").val()
                              
            if(/[A-Z]/.test(pass) == true){
            event.preventDefault()
                alert("Your password can only contain lower case alphabetic characters.")
            } 
            else if(/(.)\1/.test(pass) == false){
                alert("Your password must contain at least two non-overlapping pairs of letters, like aa, bb, or cc.")
            }
            else if(pass.indexOf("i") > -1 || pass.indexOf("o") > -1 || pass.indexOf("l") > -1){
                event.preventDefault()
                alert("Your password may not contain the letters i, O, or l.")         
            }
            else if(pass.length > 32 ){
                event.preventDefault()
                alert("Your password cannot be longer than 32 characters.")
            } 
            else if (pass.indexOf("abc") > -1 == false  && pass.indexOf("bcd") > -1 == false && pass.indexOf("cde") > -1 == false && pass.indexOf("def") > -1 == false && pass.indexOf("efg") > -1 == false  && pass.indexOf("fgh")  > -1 == false && pass.indexOf("ghi")  > -1 == false  && pass.indexOf("hij")  > -1 == false  && pass.indexOf("ijk")  > -1 == false  && pass.indexOf("jkl")  > -1 == false  && pass.indexOf("klm")  > -1 == false  && pass.indexOf("lmn")  > -1 == false  && pass.indexOf("mno")  > -1 == false  && pass.indexOf("nop")  > -1 == false  && pass.indexOf("opq")  > -1 == false  && pass.indexOf("pqr")  > -1 == false  && pass.indexOf("qrs")  > -1 == false  && pass.indexOf("rst")  > -1 == false  && pass.indexOf("stu")  > -1 == false  && pass.indexOf("tuv")  > -1 == false  && pass.indexOf("uvw")  > -1 == false  && pass.indexOf("vwx")  > -1 == false  && pass.indexOf("wxy")  > -1 == false  && pass.indexOf("xyz")  > -1 == false){
                event.preventDefault()
                alert("Your password must include one increasing straight of at least three letters, like abc.")
            }
        });
    });